In [1]:
#import statement
import numpy as np

In [6]:
an_array=np.array([3,33,333])

In [7]:
print(an_array)

[  3  33 333]

In [9]:
print(an_array.shape) #checking the dimension

(3,)

In [10]:
another_array=np.array([[11,12,13],[21,22,23]])
print(another_array)

[[11 12 13]
 [21 22 23]]

In [11]:
print(another_array.shape)

(2, 3)

In [12]:
#creating a 2*2 an array with just zeros
#zeros creates a matrix with 0
ex1 = np.zeros((2,2))
print(ex1)

[[0. 0.]
 [0. 0.]]

In [15]:
#creating a 2*2 an array with just ones
#ones creates a matrix with 1
ex2 = np.ones((2,2))
print(ex2)

[[1. 1.]
 [1. 1.]]

In [16]:
#creating a 2*2 an array with any number we use full
#full creates a matrix with any number
ex3 = np.full((2,2),9.0)
print(ex3)

[[9. 9.]
 [9. 9.]]

In [18]:
#creating a 2*2 an array with any number we use eye
#eye creates a matrix with diagonal 1s and 0s
ex4 = np.eye(2,2)
print(ex4)

[[1. 0.]
 [0. 1.]]

In [19]:
#create a random array
ex5=np.random.random((2,2))
print(ex5)

[[0.25935062 0.96169722]
 [0.90719101 0.02561665]]

In [20]:
ex6=np.array([[11,12,13,14],[21,22,23,24],[31,32,33,34]])
print(ex6)

[[11 12 13 14]
 [21 22 23 24]
 [31 32 33 34]]

In [29]:
slice=(ex6[1:3, :2])
print(slice)

[[21 22]
 [31 32]]

In [33]:
#change 13 to 103
ex6[0,2]=103
print(ex6)

[[ 11  12 103  14]
 [ 21  22  23  24]
 [ 31  32  33  34]]

In [35]:
#filter >20
ex6[ex6>20]

array([103,  21,  22,  23,  24,  31,  32,  33,  34])

In [36]:
#even number
ex6[[ex6 % 2 ==0 ]]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

array([12, 14, 22, 24, 32, 34])

In [39]:
#add 100 to the even number
ex6[[ex6 % 2 ==0 ]]+100

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

array([212, 214, 222, 224, 232, 234])

In [41]:
#create an array
ex7=np.array([[111,112],[222,333]])
print(ex7)

[[111 112]
 [222 333]]

In [42]:
#create an array
ex8=np.array([[100,101],[200,202]])
print(ex8)

[[100 101]
 [200 202]]

In [44]:
#adding 
print(ex7+ex8)

[[211 213]
 [422 535]]

In [45]:
#minus 
print(ex7-ex8)

[[ 11  11]
 [ 22 131]]

In [46]:
#multiply
print(ex7*ex8)

[[11100 11312]
 [44400 67266]]

In [47]:
#divide
print(ex7/ex8)

[[1.11       1.10891089]
 [1.11       1.64851485]]

In [48]:
#use exponential 
print(ex7**ex8)

[[1049659969          0]
 [         0 1581269833]]

In [49]:
#using numpy
print(np.add(ex7,ex8))

[[211 213]
 [422 535]]

In [50]:
#using numpy
print(np.subtract(ex7,ex8))

[[ 11  11]
 [ 22 131]]

In [51]:
#using numpy
print(np.multiply(ex7,ex8))

[[11100 11312]
 [44400 67266]]

In [52]:
#using numpy
print(np.divide(ex7,ex8))

[[1.11       1.10891089]
 [1.11       1.64851485]]

In [53]:
#using numpy for exponent
print(np.power(ex7,ex8))

[[1049659969          0]
 [         0 1581269833]]

In [58]:
#get the mean

print(np.mean(ex7))
print(np.mean(ex8))

194.5
150.75

In [59]:
#get mean by row
print(np.mean(ex7,axis=0))
print(np.mean(ex8,axis=0))

[166.5 222.5]
[150.  151.5]

In [60]:
#get the median
print(np.median(ex7))
print(np.median(ex8))

167.0
150.5

In [61]:
#create 10 element array of random numbers
#create a random array
ex10=np.random.random(10)
print(ex10)

[0.66028198 0.13333166 0.1531473  0.920321   0.79074212 0.53208516
 0.36300628 0.03969524 0.11186894 0.51819921]

In [83]:
#sort array
(ex10.sort(axis=0))
print(ex10)

print(ex10[::-1])
print(ex10[::1])

[0.03969524 0.11186894 0.13333166 0.1531473  0.36300628 0.51819921
 0.53208516 0.66028198 0.79074212 0.920321  ]
[0.920321   0.79074212 0.66028198 0.53208516 0.51819921 0.36300628
 0.1531473  0.13333166 0.11186894 0.03969524]
[0.03969524 0.11186894 0.13333166 0.1531473  0.36300628 0.51819921
 0.53208516 0.66028198 0.79074212 0.920321  ]

In [69]:
ex11=np.array([1,2,1,3,4,4,6,9])
print(ex11)

[1 2 1 3 4 4 6 9]

In [71]:
#find unique elements
print(np.unique(ex11))

[1 2 3 4 6 9]

In [72]:
#check datatype of array
print(type(ex11))

<class 'numpy.ndarray'>

In [87]:
#check datatype of array
print(ex11.dtype)

int32

In [74]:
#convert the array to a float
a=np.array(ex11,dtype=float)
print(a)

[1. 2. 1. 3. 4. 4. 6. 9.]

In [76]:
f=np.array([[11,22],[33,44]])
print(f)

[[11 22]
 [33 44]]

In [78]:
print(np.mean(f,axis=0))

[22. 33.]

In [79]:
print(np.mean(f,axis=1))

[16.5 38.5]

In [81]:
# mean of entire matrix using None
print(np.mean(f,axis=None))

27.5